/*Jeremy Gurzynski 
    jgurzynski85952@uat.edu
    23OCT23
   This is for week 3 of CSC102*/

/*Gave light blue background for smoothness
Font family set for Times New Roman for more professionality*/
body {
    background-color: #9ab7d7;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}

/*Memes padded to left for little extra centering*/
#meme {
    padding-left: 30px;
}

#title {
    padding-left: 30%;
    padding-bottom: 20px
}

/*Gave web page all new column look instead of stacked*/
.content {
    float: left;
    width: 30%;
    padding: 5px;
}

.button {
    width: 250px;
    height: 30px;
    background-color: #3688e1;
    border-radius: 50px;
    border-color: red;
}

